# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Model training artifacts
catboost_info/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# VS Code settings
.vscode/

# Environment variables
.env

# Build files
dist/
build/

# Temporary files
*.tmp